*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
:root{
    /* Background Colrs */
    --primary-color: #0c0c0c;
    --bg-fill-color:#fdfdfc3a;

    /*  Text Colors  */
    --text-primary-color: #f0f0f0;

    /* spacing variable */
    --space-xs: 4px;
    --space-sm: 8px ;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border Colors */
    --border-primary-color: #333333;


    /* Border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-xl: 24px;
    --border-radius-xl: 28px;



}
html{
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow: hidden; */
    
}
main,section{
    
    width: 100%;
    height: 100%;
}

section{
   
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
    padding: 10px;
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--space-sm);
}
.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}
.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(80px,1fr));
    overflow: hidden;
    /* padding: 10px; */
    
    
}
.block{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--bg-fill-color);
}
.food{
    background-color: rgb(182, 74, 74);
}