*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 80%;
    height: 70%;
    background-color: red;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    padding: 20px;
    margin: 10px auto;
}
.main .form{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    column-gap: 10px;
    height: 90%;
}
.main .form form input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.main .form form textarea{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.form form button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.main .form form{
    display: flex;
    flex-direction: column;
   
    width: 40%;
    background: green;
    padding: 10px;
    row-gap: 10px;
    height: 100%;
}
.main .form .allTasks{
    width: 60%;
    height: 100%;
    background-color: green;
    padding: 10px;
    overflow: auto;
    height: 100%;
}
.main .form .allTasks .task{
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    

}
.main .form .allTasks .task h2{
    font-size: 1.3rem;
}
.main .form .allTasks .task button{
    padding: 5px 6px;
    border-radius: 5px;
    /* border: none; */
    font-size: .8rem;
}
.main .form .allTasks .task .taskDetails{
    display: none;
    transition: all ease 0.3s;
    position: absolute;
    inset: auto 0 -35px auto;
    padding: 9px;
    width: 100%;
    background-color: yellow;
}

.main .form .allTasks .task span{
    background-color: red;
    font-size: .6rem;
    color: white;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    /* margin-bottom: -10px; */
}