body {
  font-family: Arial, sans-serif;
  background: #f1f2f6;
}

.container {
  width: 400px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

input, textarea, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.task {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.task h3 {
  margin: 0;
}

.task button {
  width: auto;
  margin-right: 5px;
}
